body{
    background-color:#EEEEEE;
    font-family: 'Montserrat', sans-serif;
    }
    h1{
        font-size: 55px;
        padding-bottom: 20px;
        color: rgb(45, 45, 45);
        font-weight: 800;
    }
    h2{
        font-size: 22px;
        line-height: 40px;
        color:rgb(45, 45, 45)
    }
    nav .active{
        font-weight: bold;
        color: rgb(45, 45, 45);
        text-decoration: underline;
        line-height: x;
    
    }
    .navbar-toggler-icon{
        border: 1px solid #797676 !important;
        padding:7px;
        width: 45px;
        height: 37px;
        border-radius: 3px;
    }
    
    
    .btn {
          background-color: rgb(45, 45, 45);
          color: white;
          border-radius: 0px;
          }
    footer{
        text-align: center;
        padding: 30px;
        
    }
    footer i {
        font-size: 35px;
        border-radius: 100%;
        border-style: solid ;
        border-width: 98 px;
        text-align: center;
        height: fit-content;
        width: fit-content;
        padding:10px;
        color: rgb(45, 45, 45);
        
    }
